<style type="text/css">

</style>

<div class="starter-template">
<!-- lägg inget här -->
</div>
<div class="container2">
<h1>about2</h1>
    <div class="starter-template">
      <h1>OM OSS</h1>
      <p class="lead">Detta är vårt base template.<br></p>
    </div>

    <div class="col-xs-24 col-md-8">
    	<h1>col-md-1</h1>
    </div>

     <div class="col-xs-24 col-md-8 makeShadowBorder">
      <h1>col-md-2</h1>
    </div>


    <div class="col-xs-24 col-md-8">
      <h1>col-md-3</h1>
    </div>

  </div><!-- /.container -->