<style type="text/css">
  .bildstyle{

    border-radius: 50%;
    background: white; /*#8AC007;*/

    padding: 5px; 
    width: 150px;
    height: 150px;
    box-shadow: black 3px 2px;

    -webkit-filter:grayscale(100%);
    filter: grayscale(100%);

  }
  
  
</style>
<div class="container">
  <div class="row">
    <div class="col-xs-24 col-sm-24">
      <!--  buyContent.js + html -->
      <about-content></about-content> 
    </div>
  </div>
</div>
<!-- <!doctype html> 
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script>
  $(function() {
    $( "#accordion" ).accordion();
  });
  </script>
</head>
<body>


<div class="container">
    <div class="starter-template">
      <h1>OM OSS</h1>

      <div id="accordion">
  <h3>Histori</h3>
  <div>
    <p>
    Bjurfors bildades 1995 av Aleksander som bedrev mäklarverksamhet i Stockholm, Göteborg och Malmö. Idag ägs Bjurfors Sverige AB av Derek och Hamzeh, som båda har en lång historia inom Bjurfors varumärke. Mona och Sara har börjat sammarebete med Bjurfors sedan 2008. därefter Bjurfors blev ett av Sveriges största och mest kända privatägda mäklareföretag.
    </p>
  </div>
  <h3>Section 2</h3>
  <div>
    <p>
    Idag är vi cirka 400 medarbetare på Bjurfors runt om i landet som varje dag hjälper människor att göra en så bra bostadsaffär som möjligt. För oss är nyckeln till framgång att alltid ha helnöjda kunder. Det är därför vi alltid är måna om att hitta rätt köpare till rätt bostad, och alltid till rätt pris.
    </p>
  </div>
  
  <h3>Section 3</h3>
  <div>
    <p>
    Vi på Bjurfors lämnar aldrig något åt slumpen när det kommer till din bostadsaffär, oavsett vilken typ av fastighet eller hem du söker efter. Som kund hos Bjurfors behöver du aldrig nöja dig med mindre. Välkommen till oss för att uppleva bästa möjliga bostadsaffär.
    </p>
    <p>
    Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus.
    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
    inceptos himenaeos.
    </p>
  </div>
</div>

</body>
</html>

      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sit amet massa eu neque elementum eleifend. Donec dignissim lectus augue, eu fringilla ipsum porta vitae. Etiam sollicitudin velit eu varius lacinia. Nullam vehicula egestas nisi, vitae eleifend libero ornare vel. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.<br></p>
    </div>

<div class="row">
    <div class="col-xs-24 col-md-8 makeShadowBorder">
      <h1>Aleks</h1>
      <img class="bildstyle" src="img/faces/Aleks.jpg">
    </div>

     <div class="col-xs-24 col-md-8 makeShadowBorder">
      <h1>Derek</h1>
      <img class="bildstyle" src="img/faces/Derek.jpg">
    </div>

    <div class="col-xs-24 col-md-8 makeShadowBorder">
      <h1>Mobark</h1>
      <img class="bildstyle" src="img/faces/Marcus.jpg">
    </div>
  
</div>
<div class="row">
     <div class="col-xs-24 col-md-8 makeShadowBorder">
      <h1>Hamzeh</h1>
      <img class="bildstyle" src="img/faces/Hamzeh.jpg">
    </div>

     <div class="col-xs-24 col-md-8 makeShadowBorder">
      <h1>Sara</h1>
      <img class="bildstyle" src="img/faces/Sara.jpg">
    </div>

    <div class="col-xs-24 col-md-8 makeShadowBorder">
      <h1>Mona</h1>
      <img class="bildstyle" src="img/faces/Mona.jpg">
    </div>
    </div>
  </div><!-- /.container -->