<style type="text/css">  
	.form-control {
		color:white;
	  font-size: 1.3em;
	  background-color: #BCBCBC;
	}
  
/*  .nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}
.carouselHeight {
  height: 305px;
}
.my-carousel img {
  margin: auto;
}
.formError {
  font-weight: bold;
  color: red;
}*/

</style>
<!-- FontAwsome icons -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css">
    -->

<div class="container">
  <div class="row">
    <div class="col-xs-24 col-sm-24">
      <!--  buyContent.js + html -->
      <buy-content></buy-content> 
    </div>
  </div>
</div>