.img-cont {
	max-height: 200px;
	max-width: 150px;
}

.img-conto {
	max-height: 150px;
	max-width: 200px;
}

.text-cent {
  text-align: center;
}

.top-margin {
  margin-top: 2em;
}

.bot-margin {
	margin-bottom: 4em;
}

.topage-margin {
  margin-top: 3em;
}

.stopage-margin {
  margin-top: 5em;
}