.img-cont {
	max-height: 200px;
	max-width: 150px;
	margin-bottom: 1em;
}

.img-conto-hid {
	display: none;
}

.img-conto {
	display: block;
	max-height: 191px;
	max-width: 251px;
}

.text-cent {
  text-align: center;
}

.top-margin {
  margin-top: 2em;
}

.bot-margin {
	margin-bottom: 3em;
}
.topbot-margin {
	margin-top: 3em;
	margin-bottom: 1em;
}

.topage-margin {
  margin-top: 2em;
}

.stopage-margin {
  margin-top: 5em;
}

#spc {
	max-width: 670px;
}

#kont {
	margin-bottom: 1em;
}

#submit {
	width: 75px;
	height: 40px;
}