.carouselHeight {
	height: 600px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}




/*senaste*/
.senaste {
    display: inline-block;
    padding-top: 200px;
    margin-left:  70px;
    
}

    

.senasteBilder {
    height: 250px;
    width: 300px;


    
}










/* footer*/


 .myfooter{
display:none;
width:100%;
position:absolute;
background-color:#666;
padding-top:5px;
padding-bottom:10px;

margin-top: 800px;


}

.foot_container{
width:1060px;
margin:0px auto;

}

/*Sets our footer to hold 4 columns, adjust percent if you add more columns or subtract*/
.footercolumn{
width: 20%;
float:left;


}

/*Sets the space between title and menu items*/

.footercolumn h1{
margin-bottom:10px;
margin-right:  100px;
color:black;

}

/*Sets our link color*/

.footercolumn a{
color:white !important;
}

/*Sets a max width to our logo, horizontal logos are ideal, but adjust accordingly*/
.footercolumn img{
max-width:200px;
margin-bottom:10px;
}
.footercolumn.logo{
text-align:center;
color: black;
}

/*Sets the size of our social icons*/
.logo i{
font-size:35px;
}

/*Sets our social icons to fit 3 on a line*/
.social_container a{
float:left;
width:33.3%
}

.copyright{
float:left;
width:100%;
margin-top:20px;
}
.copyright p{
color:white;
text-align:center;
}


/*Fixes for mobile and window size*/

@media all and (max-width: 1060px) and (min-width: 0px){
.myfooter{
width:1060px !important;
}
#page{
margin-left:55px;
}
.foot_container{
width:800px !important;
}

}

/*Remove Enjin footer ~ We are adding it to the Footer ourselves*/

#page-footer .left,#page-footer .right{
display:none;
}