<div class="starter-template">
<!--   <h1>KÖPA</h1>
  <p class="lead"><a ng-href="/sell">eller sälj ditt gamla</a></p> -->
  
</div>

<!-- 
<div class="col-xs-24 col-md-24">
  <div class="row">
    <h3>Min carousel</h3>
    <div class="carouselHeight">
      <uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
        <uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
          <img ng-src="{{slide.image}}">
          <div class="carousel-caption">
            <h4>Slide {{slide.id}}</h4>   
            <p>{{slide.text}}</p>
          </div>
        </uib-slide>
      </uib-carousel>
    </div>
     <h3>min Modal</h3>
    <button type="button" class="btn btn-default" ng-click="openModal()">Open my modal!</button>
  </div>
</div> -->

<h1><span class="glyphicon glyphicon-search"></span> Sök bostad</h1>
<br><br>
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
      <button ng-click="getAll()" type="button" class="btn btn-primary">Alla lediga  <span class="badge">{{ antalObjekt }}</span></button>
    </div>
    <div class="btn-group" role="group">
      <button ng-click="getApartments()" type="button" class="btn btn-primary">Lägenheter  <span class="badge">{{antalLagenheter}}</span></button>
    </div>
    <div class="btn-group" role="group">
      <button ng-click="getProperties()" type="button" class="btn btn-primary">Hus / Villor  <span class="badge">{{antalVillor}}</span></button>
    </div>
  </div><br><br>
  <p>
    <!-- här ligger knappar som visar och bytar ut "showProperties" -->
    <!-- <button id="testKnapp" ng-click="getProperties()" class="btn btn-primary btn-lg btn-block">Jag söker Hus/Villa 
      <span class="pull-right"><span class="badge" style="text-align: right;" id="antalVillor"> </span> Lediga </span>
    </button>
    <button ng-click="getApartments()" class="btn btn-default btn-lg btn-block">Jag söker lägenhet
      <span class="pull-right"><span class="badge" style="text-align: right;" id="antalLägenheter"> </span> Lediga </span>
    </button><br> -->
  </p>

    <!-- alternativ sök knappar -->
    <div class="row hidden">
      <div class="col-md-24 col-lg-24">
        <div class="input-group">
          <ul class="nav nav-pills">
            <li role="presentation" class="active"><a ng-click="getAll()">Alla objekt</a></li>
            <li role="presentation"><a ng-click="getProperties()">Jag söker Hus/Villa</a></li>
            <li role="presentation"><a ng-click="getApartments()">Jag söker Lägenhet</a></li>
          </ul>
        </div><!-- /input-group -->
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->

      <div>
        <div class="row">
         <p> <span class="glyphicon glyphicon-sort-by-attributes"></span>  Visa fler sökalternativ  <input type="checkbox" ng-click="toggleDetailSearch()"></p> 
        </div>
      </div>





  <!-- mySearchControl som kollar efter ändringar i sökningen -->
  <div id="mySearchControl">
    <div class="searchDetailsParent">

      <div class="col-xs-12 col-md-12">
        <div class="row">
          <h3>Rum(Min)</h3>
          <select class="form-control" ng-model="roomSel">
            <option value="">-- VÄLJ --</option>
            <option value="1">1 rum</option>
            <option value="2">2 rum</option>
            <option value="3">3 rum</option>
            <option value="4">4 rum</option>
            <option value="5">5 rum</option>
            <option value="6">6 rum</option>
          </select>
        </div>
      </div><!-- .col -->

      <div class="col-xs-12 col-md-11 col-md-offset-1">
        <div class="row">
          <h3>Boarea(Min)</h3>
          <select class="form-control" ng-model="minAreaSel">
            <option value="">-- VÄLJ --</option>
            <option value="25">25 kvm</option>
            <option value="50">50 kvm</option>
            <option value="75">75 kvm</option>
            <option value="100">100 kvm</option>
            <option value="125">125 kvm</option>
            <option value="150">150 kvm</option>
            <option value="175">175 kvm</option>
            <option value="200">200 kvm</option>
            <option value="250">250 kvm</option>
          </select>
        </div>
      </div><!-- .col -->

      <div class="col-xs-12 col-md-12">
        <div class="row">
          <h3>Pris(Max)</h3>
          <select class="form-control" ng-model="maxPriceSel">
            <option value="">-- VÄLJ --</option>
            <option value="250000">250,000 kr</option>
            <option value="500000">500,000 kr</option>
            <option value="750000">750,000 kr</option>
            <option value="1000000">1,000,000 kr</option>
            <option value="1250000">1,250,000 kr</option>
            <option value="1500000">1,500,000 kr</option>
            <option value="1750000">1,750,000 kr</option>
            <option value="2000000">2 mkr</option>
            <option value="2500000">2,5 kr</option>
            <option value="3000000">3 mkr</option>
            <option value="3500000">3.5 mkr</option>
            <option value="4000000">4 mkr</option>
            <option value="5000000">5 mkr</option>
          </select>
        </div>
      </div>
      

      <div class="col-xs-12 col-md-11 col-md-offset-1">
        <div class="row">
          <div>
            <h3>Resultat</h3>
            <div class="alert alert-info" role="alert">
              <p class="alert-link">Dina sökning gav {{ properties.length }} resultat </p>
            </div>
          </div>
        </div>
      </div><!-- .col --> 
    </div><!-- .col Detaljerad sökning-->  
  </div><!-- mySearchControl -->
</div><!-- mainContent -->





</div><!-- Main-col -->






<!-- mainContent med alla våra villor och lägenheter // ng-model="buyContent" property stuff-->
<div class="col-xs-24 col-md-24 makeShadowBorder resultDivShadow">
   <!-- properties -->
  <h1 id="typTitel">Resultatet gav {{ properties.length }} träffar</h1> 
    <div ng-repeat="property in properties" class="propertyDiv">
      <div class="list-group">
        <p class="list-group-item active">
        <span class="glyphicon glyphicon-home"> </span> {{property.adress}}
        </p>
        <a ng-click="openModal()" ng-href="/buy/{{property._id}}" class="list-group-item">
        <div class="row">
          <div class="col-xs-24 col-md-8 col-lg-8">
              <div class="buyGallery">
                <br>
                <img ng-src="{{property.pic}}">
              </div>
              <i> <b>ID:</b> {{property._id}} </i><br>
          </div>

          <div class="col-xs-24 col-md-16 col-lg-16">
            <span><p><!-- FIX - En extra span fixade så att badge stannade bredvid sin text -->
              <b>Typ:</b> <span class="badge">{{property.type}}</span>
              <b>Rum:</b> <span class="badge"> {{property.room}}</span>
              <b>Antal Kvm:</b> <span class="badge">{{property.size}}</span>
              <b>Pris:</b> <span class="badge"> {{property.price}}<br></span><hr>
              <p> {{property.description}}</p>
              <!-- <p>{{property.description}}<p> -->
            </p></span>
          </div>
          

        </div><!-- .row -->
        </a>
      </div><!-- list-group -->
    </div><!-- ng-repeat -->
  </div><!-- ng-hide -->

