@font-face {
    font-family:Light;
    src: url(fonts/Light.ttf);
}
@font-face {
    font-family:Bold;
    src: url(fonts/Bold.ttf);
}
@font-face {
    font-family:Thin;
    src: url(fonts/Thin.ttf);
}
@font-face {
    font-family:Regular;
    src: url(fonts/Regular.ttf);
}

body{
	font-family:Regular;
	padding: 1em 1em 1em;
	/*background-color: black;
	color: white;*/
}

h1{

	text-align: center;
	text-shadow: 1px 2px 2px gray;
}


button{
	color: gray;
}

.navbar-inverse{
	background-color: #9c9c9c;
}
.navbar-nav>.navbar-brand{
	color: red;
}
.navbar-inverse .navbar-nav>li>a{
	color: #000;
	font-size: 1.2em;
	font-family: Light;
	transition: 0.4s ease-in-out;

}
.navbar-inverse .navbar-nav>li>a:hover{
	transition: 0.6s ease-in-out;
}

.makeShadowBorder {
	border: 1px solid #9c9c9c;
	box-shadow: 5px 5px 10px #000;
	border-radius: 0.8em;

}

.navbar-inverse .navbar-brand {
    color: #000;
}

/* text till visning av hus/lägenheter */
.list-group-item.active {
	font-size: 1.3em;
}

.badge{
	font-size: 1.1em;
}