@font-face {
    font-family:Light;
    src: url(fonts/Light.ttf);
}
@font-face {
    font-family:Bold;
    src: url(fonts/Bold.ttf);
}
@font-face {
    font-family:Thin;
    src: url(fonts/Thin.ttf);
}
@font-face {
    font-family:Regular;
    src: url(fonts/Regular.ttf);
}

body{
	font-family:Regular;
	background: #ededed url(/img/page_bg.png);
	
	/*background-color: black;
	color: white;*/
}

h1{

	text-align: center;
	text-shadow: 1px 2px 2px gray;
}

p{
	font-size: 1.3em;
}


button{
	color: gray;
}

.navbar-inverse{
	background-color:#292c2f;
}

.navbar-inverse .navbar-nav>li>a{
	color: #F5F6F7;
	font-size: 1.2em;
	font-family: bold;
	transition: 0.4s ease-in-out;



}
.navbar-inverse .navbar-nav>li>a:hover{
	transition: 0.6s ease-in-out;
	background-color: #5383D3;
}


.navbar-inverse .navbar-brand {
    color: #000;

}

/*denna skapar en snygg box med skugga*/
.makeShadowBorder {
	margin-bottom: 1em;
	padding: 1em;
	border: 1px solid #9c9c9c;
	box-shadow: 5px 5px 10px #000;
	border-radius: 0.8em;

}


/*-------------------------------------------------*/
/* KÖPA */

/*dkontrollera dessa -- dem funkar inte som dem ska?!?!? */
.badge{
     font-size: 2em;
}

/* badge - info rutor */
.badge{
	font-size: 1.2em;
	font-family: Thin;
	
}

div.buyGallery img{
	
    
    width: 80%;
	border-radius: 10%;
    border: 2px solid #337AB7;
    transition: 1s ease-in-out;
}
div.buyGallery img:hover{
	width: 100%;
	border-radius: 10%;
    border: 2px solid #337AB7;
    transition: 1s ease-in-out;
    
}

/* text till visning av hus/lägenheter */
.list-group-item.active {
	font-size: 1.3em;
}








/*Removes those annoying double scroll bars*/

.body-wrap-3{
overflow-x:visible !important;
}

/*Sets our footer content area to be the same with as our enjin page*/



.resultDivShadow{
	background-color: #EEEEEE;
}
